<div class="container">
  <div class="row">
    <div class="col-md-9">
      <strong>注文情報</strong>
       <table class ="table table-bordered">
        <tr>
          <td>注文日</td>
          <td></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td></td>
        </tr>
       </table>
    </div>
    
    <div class ="col-md-3">
     <strong>請求情報</strong>
      <table class ="table table-bordered">
        <tr>
          <td>商品合計</td>
          <td></td>
        </tr>
        <tr>
          <td>配送料</td>
          <td></td>
        </tr>
        <tr>
          <td>ご請求額</td>
          <td></td>
        </tr>
      </table>
    </div>
    <table class ="table table-bordered">
      <thead>
        <tr>
          <td>商品</td>
          <td>単価(税込)</td>
          <td>個数</td>
          <td>小計</td>
        </tr>
      </thead>
      <tbody>
        <td></td>
      </tbody>
    </table>
  </div>
</div>